body
{
background-color: #990000;
}
#wrapper
{
 width: 1000px;
 margin-left: auto;
 margin-right: auto;
}
.obraz
{
	width: 1000px;
}
.obraz:hover
{
	opacity: 0.9;
}
nav
{
	background-color: 	#191919;
	text-align: center;
}
.menu 
{
	display: inline-block;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;
	font-family: 'Open Sans', sans-serif;
}
.menu > li
{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px groove 	#FF0066;
}
.menu > li:first-child
{
	border-left: 1px groove	#FF0066;
}
.menu a
{
	color: white;
	text-decoration: none;
}
.menu :hover
{
	 color: #FFD740;
     background-color: crimson;
	 opacity: 0.8;
}
a.menu:hover
{
	color: white; 	
	background-color: crimson;
}
.me
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 400px;
	background-color: 	#2E2E2E;
	margin-top: 0px;
}
.me :hover
{
	opacity: 0.8;
}
.pasek1
{
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 420px;
	height: 2px;
	background-color: #FF0066;
}
h1
{
	padding-top: 20px;
	text-align: left;
	font-size: 18px;
	font-weight: 400;
	color: 	#C4C4C4;
	margin-bottom: 20px;
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
}
p
{
	padding-top: 20px;
	margin-top: 0px;
	font-size: 35px;
	color: #C4C4C4;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin-bottom: 0px;
	text-align: center;
}
n
{
	padding-top: 20px;
	margin-top: 0px;
	font-size: 22px;
	color: #9C9C9C;
	margin-bottom: 20px;
	text-align: center;
}
.left
{
	float: left;
	padding: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	width: 25%;
	
}
iframe
{
	width: 100%;
	
}
























